/* Arrow.module.css */
.arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Adjust the size */
    height: 40px; /* Adjust the size */
  }
  
  .arrow img {
    width: 100%; /* Responsive arrow size */
    height: auto; /* Maintain aspect ratio */
  }
  