.button {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--color-green); /* Define in your CSS variables */
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: var(--color-hover); /* You can define hover color */
  }
  