.hero {
  background-color: black;
  color: white;
  padding: 50px;
  text-align: center;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Align items horizontally */
}

.textContainer {
  margin-right: 20px; /* Add space between text and image */
}

.imageContainer {
  display: flex; /* Optional: If you want to center the image in its own container */
  justify-content: center; /* Center the image */
}
