.sectionContainer {
  margin: 20px 0; /* Margin for spacing */
}

.header {
  display: flex; /* Flexbox for header layout */
  justify-content: space-between; /* Space between title and button */
  align-items: center; /* Center vertically */
  margin-bottom: 20px; /* Margin below header */
}

.albumGrid {
  display: grid; /* Grid layout for album cards */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
  gap: 15px; /* Spacing between cards */
}
.genreTabs {
    display: flex;
    margin-bottom: 15px;
  }
  
  .genreTabs button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .genreTabs .activeTab {
    background-color: #6200ea;
    color: white;
    border-radius: 4px;
  }

